* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8faf9;
  overflow-x: hidden;
}

.logo a {
  font-size: 20px;
  font-weight: 600;
}

.list a {
  font-size: 15px;
}

.list a:hover {
  font-weight: bold;
}

.icon-chat {
  border-right: 2px solid #eaecee;
  padding-right: 10px;
}

.icon-chat img {
  width: 17px;
  height: 17px;
}

.button a {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
}

.my-account a {
  background-color: #2f6a62;
}

.text-header {
  font-size: 21px;
}

.circle {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.input p {
  font-size: 15px;
  color: #0a0723;
}

.new-account a {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
